params {
    bam_dir = "${projectDir}/data/bam_files" // directory containing BAM files
    out_dir = "output"                       // output directory for FASTQ files
    disable_ping = false
    validate_params = true
}

manifest {
    name            = 'bam2fastq'
    author          = 'Bernat del Olmo'
    description     = 'Convert BAM files to FASTQ using samtools'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '1.0.0'
}

process {
    container = "biocontainers/samtools:v1.9-4-deb_cv1"
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    local {
        process.executor = 'local'
    }
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}

env {
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS = "-Xlog:disable -Xlog:all=warning:stderr"
}
